<div class='detail'>
    <div class='map-title'>
        <p><a href='/'>Trang chủ</a> / <a href='/products'>Sản phẩm</a> / {{product.name}}</p>
    </div>
    <div class='detail__container'>
        <div class='detail__main'>
            <div class='detail__container__left'>
                <div class='detail__container__left__img'>
                    <img src='{{product.images.[0]}}' alt='detail' />
                </div>
                <div class='detail__container__sub__img'>
                    {{#each product.images}}
                        <img src='{{this}}' alt='sub__image' />
                    {{/each}}
                </div>
            </div>
            <div class='detail__container__right'>
                <div class='detail__container__right__title'>
                    <h3>{{product.name}}</h3>
                </div>
                <div class='detail__container__right__desc'>
                    {{#if product.price.sale}}
                        <p class='text-decoration-line-through'>Giá:
                            <span>{{formatCurrency product.price.origin}}</span></p>
                        <p>Giá khuyến mãi: <span>{{formatCurrency product.price.sale}}</span></p>
                    {{else}}
                        <p>Giá: {{formatCurrency product.price.origin}}</p>
                    {{/if}}
                    <p>DANH MỤC: <span>{{product.category.name}}</span></p>
                </div>
                <div class='detail__container__right__btn'>
                    <button type='submit'>LIÊN HỆ BÁO GIÁ</button>
                    <span>Số lượng lớn vui lòng gửi yêu cầu để nhận báo giá rẻ hơn</span>
                </div>
                <div class='detail__container__right__social__icon'>
                    <i class='uil uil-facebook-f'></i>
                    <i class='uil uil-twitter'></i>
                    <i class='uil uil-envelope'></i>
                    <i class='uil uil-linkedin'></i>
                </div>
            </div>
            <div class='detail__container__promise'>
                <h4>CAM KẾT CỦA THÀNH DƯƠNG</h4>
                <div class='detail__container__promise__subtext'>
                    <span>
                        <i class='uil uil-file-search-alt'></i>
                        <p>Xem mẫu trước khi đặt hàng</p>
                    </span>
                    <span>
                        <i class='uil uil-truck'></i>
                        <p>Giao hàng nhanh trong 24h</p>
                    </span>
                    <span>
                        <i class='uil uil-invoice'></i>
                        <p>Thanh toán sau khi nhận hàng</p>
                    </span>
                </div>
            </div>
        </div>
        <div class='detail__description'>
            {{{product.description}}}
        </div>
    </div>
    <div class='related__product__container container'>
        <div class='menu-title mb-5 mt-5'>SẢN PHẨM TƯƠNG TỰ</div>
        <div class='related__product__card__container'>
            {{#each products}}
                <div class="card h-100 border-0">
                    <a href='products/{{slug}}' class='product-box'>
                        <div class='product-img-box'>
                            <img src='{{images.[0]}}' alt={{name}} class='w-100' />
                        </div>
                        <div class='product-content-box rounded-bottom card-body pt-0'>
                            <div class='product-title h-50'>
                                <a href='products/{{slug}}'>{{name}}</a>
                            </div>
                            <div class='product-price'>
                                {{#if price.sale}}
                                    <p class="origin__price line-through">Giá: {{formatCurrency price.origin}}</p>
                                    <p class="sale__price">Giá khuyến mãi: {{formatCurrency price.sale}}</p>
                                {{else}}
                                    <p class="origin__price">Giá: {{formatCurrency price.origin}}</p>
                                {{/if}}
                            </div>
                            <button
                                type='button'
                                data-name='{{name}}'
                                {{#if price.sale}}
                                    data-price='{{price.sale}}'
                                {{else}}
                                    data-price='{{price.origin}}'
                                {{/if}}
                                data-image='{{images.[0]}}'
                                class='btn btn-outline-info px-3 rounded-pil add-to-cart my-2'
                            >Thêm vào giỏ hàng</button>
                        </div>
                    </a>
                </div>
            {{/each}}     
        </div>
    </div>
</div>