<div class='detail'>
    <div class='map-title'>
        <p><a href="/">Trang chủ</a> / <a href="/products">Sản phẩm</a> / {{product.name}}</p>
    </div>
    <div class='detail__container'>
        <div class="detail__main">
            <div class='detail__container__left'>
                <div class='detail__container__left__img'>
                    <img src='{{product.images.[0]}}' alt='detail' />
                </div>
                <div class="detail__container__sub__img">
                    {{#each product.images}}
                        <img src="{{this}}" alt="sub__image">
                    {{/each}}
                </div>
            </div>
            <div class='detail__container__right'>
                <div class='detail__container__right__title'>
                    <h3>{{product.name}}</h3>
                </div>
                <div class='detail__container__right__desc'>
                    {{#if product.price.sale}}
                        <p>Giá: <span>{{formatCurrency product.price.origin}}</span></p>
                        <p>Giá khuyến mãi: <span>{{formatCurrency product.price.sale}}</span></p>
                    {{else}}
                        <p>Giá: {{formatCurrency product.price.origin}}</p>
                    {{/if}}
                    <p>DANH MỤC: <span>{{product.category.name}}</span></p>
                </div>
                <div class='detail__container__right__btn'>
                    <button type='submit'>LIÊN HỆ BÁO GIÁ</button>
                    <span>Số lượng lớn vui lòng gửi yêu cầu để nhận báo giá rẻ hơn</span>
                </div>
                <div class='detail__container__right__social__icon'>
                    <i class='uil uil-facebook-f'></i>
                    <i class='uil uil-twitter'></i>
                    <i class='uil uil-envelope'></i>
                    <i class='uil uil-linkedin'></i>
                </div>
            </div>
            <div class='detail__container__promise'>
                <h3>CAM KẾT CỦA THÀNH DƯƠNG</h3>
                <div class='detail__container__promise__subtext'>
                    <span>
                        <i class='uil uil-file-search-alt'></i>
                        <p>Xem mẫu trước khi đặt hàng</p>
                    </span>
                    <span>
                        <i class='uil uil-truck'></i>
                        <p>Giao hàng nhanh trong 24h</p>
                    </span>
                    <span>
                        <i class='uil uil-invoice'></i>
                        <p>Thanh toán sau khi nhận hàng</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="detail__description">
            {{{product.description}}}
        </div>
    </div>
    <div class='question__container'>
        <div class='question__title'>
            <h3>HỎI ĐÁP</h3>
        </div>
        <p>Chưa có đánh giá nào.</p>
        <div class='question__form'>
            <div class='question__form__text'>
                <div class='question__form__header'>
                    <p>Hãy là người đầu tiên nhận xét “Pallet Thành Dương” </p>
                </div>
                <div class='question__form__starts'>
                    <p>Đánh giá của bạn *</p>
                    <div class='starts'>
                        <span>
                            <i class='uil uil-star'></i>
                        </span>
                        <span>
                            <i class='uil uil-star'></i>
                            <i class='uil uil-star'></i>
                        </span>
                        <span>
                            <i class='uil uil-star'></i>
                            <i class='uil uil-star'></i>
                            <i class='uil uil-star'></i>
                        </span>
                        <span>
                            <i class='uil uil-star'></i>
                            <i class='uil uil-star'></i>
                            <i class='uil uil-star'></i>
                            <i class='uil uil-star'></i>
                        </span>
                        <span>
                            <i class='uil uil-star'></i>
                            <i class='uil uil-star'></i>
                            <i class='uil uil-star'></i>
                            <i class='uil uil-star'></i>
                            <i class='uil uil-star'></i>
                        </span>
                    </div>
                </div>
                <div class='question__form__comment'>
                    <p>Nhận xét của bạn *</p>
                    <textarea cols='30' rows='10'></textarea>
                    <div class='question__form__name__email'>
                        <div class='question__form__name'>
                            <label for='name'>Tên *</label>
                            <input type='text' id='name' />
                        </div>
                        <div class='question__form__email'>
                            <label for='email'>Email *</label>
                            <input type='email' id='email' />
                        </div>
                    </div>
                    <div class='question__form__box'>
                        <input type='checkbox' id='box' />
                        <label for='box'>Lưu tên của tôi, email, và trang web trong trình duyệt này cho lần bình luận kế
                            tiếp của tôi.
                        </label>
                    </div>
                    <button class='btn-v-about'>Xem thêm</button>
                </div>
            </div>
        </div>
    </div>
</div>