<div class='container product__container'>
    <div class='background'>
        <div class='background-image'>
            <div class='background-text'>
                <h1>Sản phẩm</h1>
                <h3>
                    <a href='/'>Trang chủ</a>
                    / Sản phẩm
                </h3>
            </div>
        </div>
    </div>
    <div class='container gird-content'>
        <div class='grid-content-left'>
            <ul>
                <h4>Danh mục sản phẩm</h4>
                {{#each categories}}
                    <li>
                        <i class='uil uil-arrow-right'></i>
                        <a href="#{{name}}" style="color: #333;">{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class='grid-content-right'>
            <div class='grid-content-right-title h-divider'>
                 <div class="shadow__custom"></div>
                <div class="text" id="Pallet Gỗ">
                    <i>Pallet Gỗ</i>
                </div>
            </div>
            <div class='grid-content-right-product'>
                {{#each products}}
                    <a href='products/{{slug}}' class='product-article'>
                        <div class='product-image rounded-top'>
                            <img src='{{images.[0]}}' alt='product-image' />
                        </div>
                        <div class='product-info rounded'>
                            <div class='product-name'>
                                <h5>{{name}}</h5>
                            </div>
                            <div class='product-price'>
                                <p>{{formatCurrency price}} VNĐ</p>
                            </div>
                            <button type='button' class='btn btn-outline-info px-3 rounded-pil'>Thêm vào giỏ hàng</button>
                        </div>
                    </a>
                {{/each}}
            </div>
            <div class='grid-content-right-title h-divider'>
                 <div class="shadow__custom"></div>
                <div class="text" id="Pallet Nhựa">
                    <i>Pallet Nhựa</i>
                </div>
            </div>
            <div class='grid-content-right-product'>
                {{#each products}}
                    <a href='products/{{slug}}' class='product-article'>
                        <div class='product-image rounded-top'>
                            <img src='{{images.[0]}}' alt='product-image' />
                        </div>
                        <div class='product-info rounded'>
                            <div class='product-name'>
                                <h5>{{name}}</h5>
                            </div>
                            <div class='product-price'>
                                <p>{{formatCurrency price}} VNĐ</p>
                            </div>
                            <button type='button' class='btn btn-outline-info px-3 rounded-pil'>Thêm vào giỏ hàng</button>
                        </div>
                    </a>
                {{/each}}
            </div>
            <div class='grid-content-right-title h-divider'>
                 <div class="shadow__custom"></div>
                <div class="text" id="Sóng nhựa">
                    <i>Sóng Nhựa</i>
                </div>
            </div>
            <div class='grid-content-right-product'>
                {{#each products}}
                    <a href='products/{{slug}}' class='product-article'>
                        <div class='product-image rounded-top'>
                            <img src='{{images.[0]}}' alt='product-image' />
                        </div>
                        <div class='product-info rounded'>
                            <div class='product-name'>
                                <h5>{{name}}</h5>
                            </div>
                            <div class='product-price'>
                                <p>{{formatCurrency price}} VNĐ</p>
                            </div>
                            <button type='button' class='btn btn-outline-info px-3 rounded-pil'>Thêm vào giỏ hàng</button>
                        </div>
                    </a>
                {{/each}}
            </div>
            <div class='grid-content-right-title h-divider'>
                 <div class="shadow__custom"></div>
                <div class="text" id="Pallet Nhựa cũ">
                    <i>Pallet Nhựa Cũ</i>
                </div>
            </div>
            <div class='grid-content-right-product'>
                {{#each products}}
                    <a href='products/{{slug}}' class='product-article'>
                        <div class='product-image rounded-top'>
                            <img src='{{images.[0]}}' alt='product-image' />
                        </div>
                        <div class='product-info rounded'>
                            <div class='product-name'>
                                <h5>{{name}}</h5>
                            </div>
                            <div class='product-price'>
                                <p>{{formatCurrency price}} VNĐ</p>
                            </div>
                            <button type='button' class='btn btn-outline-info px-3 rounded-pil'>Thêm vào giỏ hàng</button>
                        </div>
                    </a>
                {{/each}}
            </div>
            <div class='grid-content-right-title h-divider'>
                 <div class="shadow__custom"></div>
                <div class="text" id="Pallet Nhựa mới">
                    <i>Pallet Nhựa Mới</i>
                </div>
            </div>
            <div class='grid-content-right-product'>
                {{#each products}}
                    <a href='products/{{slug}}' class='product-article'>
                        <div class='product-image rounded-top'>
                            <img src='{{images.[0]}}' alt='product-image' />
                        </div>
                        <div class='product-info rounded'>
                            <div class='product-name'>
                                <h5>{{name}}</h5>
                            </div>
                            <div class='product-price'>
                                <p>{{formatCurrency price}} VNĐ</p>
                            </div>
                            <button type='button' class='btn btn-outline-info px-3 rounded-pil'>Thêm vào giỏ hàng</button>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>