<div class='container product__container'>
    <div class='background'>
        <div class='background-image'>
            <div class='background-text'>
                <h1>Sản phẩm</h1>
                <h3>
                    <a href='/'>Trang chủ</a>
                    / Sản phẩm
                </h3>
            </div>
        </div>
    </div>
    <div class='container gird-content'>
        <div class='grid-content-left'>
            <ul>
                <h4>Danh mục sản phẩm</h4>
                {{#equal queryCategories.length 1}}
                    {{#each queryCategories}}
                        <li>
                            <a href='/{{slug}}' style='color: #333;' class="item__container">{{name}}</a>
                        </li>
                    {{/each}}
                {{else}}
                    {{#each queryCategories}}
                        {{#unless parent}}
                        <li>
                            <a href='/{{slug}}' style='color: #333;' class="item__container">{{name}}</a>
                            {{#each ../queryCategories}}
                                {{#if ../name}}
                                    {{#equal ../name parent.name}}
                                        <div class="my-1"><a href="/{{slug}}" class="text-dark">+ {{name}}</a></div>
                                    {{/equal}}
                                {{/if}}
                            {{/each}}
                        </li>
                        {{/unless}}
                    {{/each}}
                {{/equal}}
            </ul>
        </div>

        <div class='grid-content-right'>
            {{#if queryCategories}}
            {{#each queryCategories}}
                {{#noChild name ../queryCategories }}
                <div class="mb-3">
                    <div class='menu-title mb-4' id="{{name}}">{{name}}</div>
                    <div class='grid-content-right-product'>
                        {{#each ../products}}
                            {{#equal category.name ../name}}
                            <div class="card h-100 border-0">
                                <a href='/{{category.slug}}/{{slug}}' class='product-box'>
                                    <div class='product-img-box'>
                                        <img src='{{images.[0]}}' alt={{name}} class='w-100' />
                                    </div>
                                    <div class='product-content-box rounded-bottom card-body pt-0'>
                                        <div class='product-title h-50'>
                                            <a href='/{{category.slug}}/{{slug}}'>{{name}}</a>
                                        </div>
                                        <div class='product-price'>
                                            {{#if price.sale}}
                                                <p class="origin__price line-through">Giá: {{formatCurrency price.origin}}</p>
                                                <p class="sale__price">Giá khuyến mãi: {{formatCurrency price.sale}}</p>
                                            {{else}}
                                                <p class="origin__price">Giá: {{formatCurrency price.origin}}</p>
                                            {{/if}}
                                        </div>
                                        <button
                                            type='button'
                                            data-name='{{name}}'
                                            {{#if price.sale}}
                                                data-price='{{price.sale}}'
                                            {{else}}
                                                data-price='{{price.origin}}'
                                            {{/if}}
                                            data-image='{{images.[0]}}'
                                            class='btn btn-outline-info px-3 rounded-pil add-to-cart my-2'
                                        >Thêm vào giỏ hàng</button>
                                    </div>
                                </a>
                            </div>
                            {{/equal}}
                        {{/each}}
                    </div>
                </div>
                {{/noChild}}
            {{/each}}
            {{else}}
                <h2>Hiện chưa có kết quả trùng khớp!</h3>
            {{/if}}
        </div>
    </div>
</div>