{{! Body: start }}
{{#if error}}
    <div class='alert alert-danger alert-dismissible fade show' role='alert'>
        {{error}}
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
        </button>
    </div>
{{/if}}

<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='card shadow'>
                <div class='card-header d-flex justify-content-between'>
                    <h4>{{pageName}}</h4>
                    <a type='button' href='/admin/orders' class='btn btn-secondary'>Trở lại</a>
                </div>
                <div class='card-body'>
                    <form class='form' method='POST'>
                        <fieldset>
                            <div class='row'>
                                <div class='col border-right'>
                                    <h5 class="mb-3">Thông tin đơn hàng</h5>
                                    <div class='form-group'>
                                        <label class='control-label text-uppercase' for='code'>Mã đơn hàng<span
                                                style='color:red'
                                            >*</span></label>
                                        <input
                                            id='code'
                                            name='code'
                                            placeholder='Mã đơn hàng'
                                            value='{{order.code}}'
                                            class='form-control'
                                            disabled
                                            type='text'
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label text-uppercase" for="status">Trạng thái</label>
                                        <select id="status" name="status" class="form-control">
                                            {{#equal order.status '<span class="badge badge-pill badge-danger">Huỷ</span>'}}
                                                <option value='{{order.status}}'>Huỷ</option>
                                            {{/equal}}

                                            {{#equal order.status '<span class="badge badge-pill badge-success">Hoàn tất</span>'}}
                                                <option value='{{order.status}}'>Hoàn tất</option>
                                            {{/equal}}

                                            {{#equal order.status '<span class="badge badge-pill badge-info">Vận chuyển</span>'}}
                                                <option value='{{order.status}}'>Vận chuyển</option>
                                                <option value='<span class="badge badge-pill badge-success">Hoàn tất</span>'>Hoàn tất</option>
                                            {{/equal}}

                                            {{#equal order.status '<span class="badge badge-pill badge-primary">Chuẩn bị</span>'}}
                                                <option value='{{order.status}}'>Chuẩn bị</option>
                                                <option value='<span class="badge badge-pill badge-info">Vận chuyển</span>'>Vận chuyển</option>
                                                <option value='<span class="badge badge-pill badge-success">Hoàn tất</span>'>Hoàn tất</option>
                                            {{/equal}}

                                            {{#equal order.status '<span class="badge badge-pill badge-warning">Chờ xử lý</span>'}}
                                                <option value='{{order.status}}'>Chờ xử lý</option>
                                                <option value='<span class="badge badge-pill badge-primary">Chuẩn bị</span>'>Chuẩn bị</option>
                                                <option value='<span class="badge badge-pill badge-info">Vận chuyển</span>'>Vận chuyển</option>
                                                <option value='<span class="badge badge-pill badge-success">Hoàn tất</span>'>Hoàn tất</option>
                                            {{/equal}}
                                        </select>
                                    </div>
                                </div>
                                <div class='col'>
                                    <h5 class="mb-3">Thông tin khách hàng</h5>
                                    <div class='form-group'>
                                        <label class='control-label text-uppercase' for='name'>Tên khách hàng<span
                                                style='color:red'
                                            >*</span></label>
                                        <input
                                            id='name'
                                            name='name'
                                            placeholder='Tên khách hàng'
                                            value='{{order.customer.name}}'
                                            class='form-control'
                                            required=''
                                            type='text'
                                        />
                                    </div>
                                    <div class='form-group'>
                                        <label class='control-label text-uppercase' for='email'>Email<span
                                                style='color:red'
                                            >*</span></label>
                                        <input
                                            id='email'
                                            name='email'
                                            placeholder='Email'
                                            value='{{order.customer.email}}'
                                            class='form-control'
                                            required=''
                                            type='email'
                                        />
                                    </div>
                                    <div class='form-group'>
                                        <label class='control-label text-uppercase' for='phone'>Số điện thoại<span
                                                style='color:red'
                                            >*</span></label>
                                        <input
                                            id='phone'
                                            name='phone'
                                            placeholder='Số điện thoại'
                                            value='{{order.customer.phone}}'
                                            class='form-control'
                                            required=''
                                            type='text'
                                        />
                                    </div>
                                    <div class='form-group'>
                                        <label class='control-label text-uppercase' for='address'>Địa chỉ<span
                                                style='color:red'
                                            >*</span></label>
                                        <input
                                            id='address'
                                            name='address'
                                            placeholder='Địa chỉ'
                                            value='{{order.customer.address}}'
                                            class='form-control'
                                            required=''
                                            type='text'
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class='form-footer'>
                                <button type='submit' class='btn btn-primary'>Cập nhật</button>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>