{{! Body: start }}
{{#if error}}
    <div class='alert alert-danger alert-dismissible fade show' role='alert'>
        {{error}}
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
        </button>
    </div>
{{/if}}

<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='card shadow'>
                <div class='card-header d-flex justify-content-between'>
                    <h4>{{pageName}}</h4>
                    <a type='button' href='/admin/news' class='btn btn-secondary'>Trở lại</a>
                </div>
                <div class='card-body'>
                    <form class='form' enctype='multipart/form-data' method='POST'>
                        <fieldset>
                            <div class='row'>
                                <div class='col'>
                                    <h5 class="mb-3">Thông tin đơn hàng</h5>
                                    <div class='form-group'>
                                        <label class='control-label text-uppercase' for='code'>Mã đơn hàng<span
                                                style='color:red'
                                            >*</span></label>
                                        <input
                                            id='code'
                                            name='code'
                                            placeholder='Mã đơn hàng'
                                            value='{{order.code}}'
                                            class='form-control'
                                            disabled
                                            type='text'
                                        />
                                    </div>

                                    <div class='form-group'>
                                        <label class='control-label text-uppercase' for='description'>Mô tả tin tức</label>
                                        <textarea
                                            id='description'
                                            name='description'
                                            class='p-2'
                                            style='width: 100%; height: 100px;'
                                        >{{new.description}}</textarea>
                                    </div>

                                    <div class='form-group'>
                                        <label class='control-label text-uppercase' for='content'>Nội dung tin tức</label>
                                        <textarea
                                            id='content'
                                            name='content'
                                            class='ckeditor'
                                        >{{{new.content}}}</textarea>
                                    </div>
                                </div>
                                <div class='col'>
                                    <h5 class="mb-3">Thông tin khách hàng</h5>
                                    <div class='form-group'>
                                        <label class='control-label text-uppercase' for='name'>Tên khách hàng<span
                                                style='color:red'
                                            >*</span></label>
                                        <input
                                            id='name'
                                            name='name'
                                            placeholder='Tên khách hàng'
                                            value='{{order.customer.name}}'
                                            class='form-control'
                                            required=''
                                            type='text'
                                        />
                                    </div>

                                    <div class='form-group'>
                                        <label class='control-label text-uppercase' for='description'>Mô tả tin tức</label>
                                        <textarea
                                            id='description'
                                            name='description'
                                            class='p-2'
                                            style='width: 100%; height: 100px;'
                                        >{{new.description}}</textarea>
                                    </div>

                                    <div class='form-group'>
                                        <label class='control-label text-uppercase' for='content'>Nội dung tin tức</label>
                                        <textarea
                                            id='content'
                                            name='content'
                                            class='ckeditor'
                                        >{{{new.content}}}</textarea>
                                    </div>
                                </div>
                            </div>

                            <input type='hidden' name='id' value='{{order._id}}' />

                            <div class='form-footer'>
                                <button type='submit' class='btn btn-primary'>Cập nhật</button>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>