<div class='home-banner'>
    <div class='owl-carousel owl-theme'>
        <div class='owl-item w-100 mx-auto'>
            <img style='height: 100%;' src='/img/banners/1.png' alt='' />
        </div>
        <div class='owl-item w-100 mx-auto'>
            <img style='height: 100%;' src='/img/banners/2.png' alt='' />
        </div>
    </div>
</div>

<section class='v-about'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-6 col-md-7 col-12'>
                <div class='v-about-text'>
                    <div class='v-about_title'>
                        <p>GIỚI THIỆU VỀ CHÚNG TÔI</p>
                        <h2>CÔNG TY PALLET <span>THÀNH DƯƠNG</span></h2>
                    </div>
                    <p>Ngay từ những ngày đầu thành lập, Pallet Thành Dương đã và đang hoạt động với phương châm UY TÍN
                        -CHẤT LƯỢNG là chìa khóa cho mọi sự thành công. Với kinh nghiệm hơn 15 năm hoạt động trong lĩnh
                        vực Pallet, chúng tôi đã xây dựng cho mình hệ thống sản xuất với công suất lớn chẳng những đáp
                        ứng được đơn hàng của các công ty ở khu vực miền Nam, mà còn vươn ra khu vực miền Trung và miền
                        Bắc cũng như các nước Singapore, Nhật Bản. Bên cạnh đó, chúng tôi còn là đối tác đáng tin cậy,
                        là cầu nối giữa các công ty trong nước đang cần tìm những sản phẩm Pallet chất lượng được nhập
                        khẩu từ các nước Hàn Quốc, Nhật Bản, Thái Lan, Trung Quốc…</p>
                    <div class='v-about_img'>
                        <div class='owl-carousel owl-theme owl-loaded owl-drag' id='owl-about'>
                            <div class='owl-stage-outer' style="height: 14rem;">
                                <div
                                    class='owl-stage'
                                    id='test'
                                    style='transform: translate3d(-1680px, 0px, 0px); transition: all 0.25s ease 0s; width: 5600px;'
                                >
                                    <div class='owl-item cloned' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide1.jpg'
                                            alt='Pallet Thanh Pham 1'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item cloned' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide2.jpg'
                                            alt='N29'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item cloned' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide3.jpg'
                                            alt='N43'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item cloned' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide4.jpg'
                                            alt='N28'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item cloned' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide5.jpg'
                                            alt='About Img 1'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide6.jpg'
                                            alt='Z259072'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item active' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide1.jpg'
                                            alt='Z2590724'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item active' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide2.jpg'
                                            alt='About Img 2'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide3.jpg'
                                            alt='Z25907244'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide4.jpg'
                                            alt='Pallet Thanh Pham 3'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide5.jpg'
                                            alt='Pallet Thanh Pham 1'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item' style='width: 260px; margin-right: 20px;'><img
                                            src='/img/subslide6.jpg'
                                            alt='N29'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item' style='width: 260px; margin-right: 20px;'><img
                                            src='https://palletvina.com/wp-content/uploads/2021/06/N43.jpg'
                                            alt='N43'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item' style='width: 260px; margin-right: 20px;'><img
                                            src='https://palletvina.com/wp-content/uploads/2021/06/N28.jpg'
                                            alt='N28'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item' style='width: 260px; margin-right: 20px;'><img
                                            src='https://palletvina.com/wp-content/uploads/2021/06/about-img_1.jpg'
                                            alt='About Img 1'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item cloned' style='width: 260px; margin-right: 20px;'><img
                                            src='https://palletvina.com/wp-content/uploads/2021/07/z259072.jpg'
                                            alt='Z259072'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item cloned' style='width: 260px; margin-right: 20px;'><img
                                            src='https://palletvina.com/wp-content/uploads/2021/07/z2590724.jpg'
                                            alt='Z2590724'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item cloned' style='width: 260px; margin-right: 20px;'><img
                                            src='https://palletvina.com/wp-content/uploads/2021/06/about-img_2.jpg'
                                            alt='About Img 2'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item cloned' style='width: 260px; margin-right: 20px;'><img
                                            src='https://palletvina.com/wp-content/uploads/2021/07/z25907244.jpg'
                                            alt='Z25907244'
                                            loading='lazy'
                                        /></div>
                                    <div class='owl-item cloned' style='width: 260px; margin-right: 20px;'><img
                                            src='https://palletvina.com/wp-content/uploads/2021/06/pallet-thanh-pham-3.jpg'
                                            alt='Pallet Thanh Pham 3'
                                            loading='lazy'
                                        /></div>
                                </div>
                            </div>
                            <div class='owl-nav'><button type='button' role='presentation' class='owl-prev'><i
                                        class='fa fa-angle-left'
                                    ></i></button><button type='button' role='presentation' class='owl-next'><i
                                        class='fa fa-angle-right'
                                    ></i></button></div>
                            <div class='owl-dots disabled'></div>
                        </div>
                    </div>
                    <a href='/about'>
                        <button class='btn-v-about'>Xem Thêm</button>
                    </a>
                </div>
            </div>
            <div class='col-lg-6 col-md-5 d-none d-md-block'>
                <div class='v-about-img'>
                    <a href='javascript:void(0)'>
                        <img
                            src='https://palletvina.com/wp-content/uploads/2021/07/about-img.png'
                            alt='About Img'
                            loading='lazy'
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class='home-content'>
    <div class='home-banner-2 mb-5'>
        <div class='home-banner-content'>
            <article class='home-banner-article'>
                <div class='home-banner-icon'>
                    <i class='fa-solid fa-crown'></i>
                </div>
                <div class='home-banner-text'>
                    <h3>Chất Lượng</h3>
                </div>
            </article>
            <article class='home-banner-article'>
                <div class='home-banner-icon'>
                    <i class='fa-solid fa-handshake'></i>
                </div>
                <div class='home-banner-text'>
                    <h3>Cam Kết</h3>
                </div>
            </article>
            <article class='home-banner-article'>
                <div class='home-banner-icon'>
                    <i class='fa-solid fa-truck-fast'></i>
                </div>
                <div class='home-banner-text'>
                    <h3>Vận Chuyển</h3>
                </div>
            </article>
        </div>
    </div>

    <div class='container'>
        <div class='menu-title mb-5'>Sản phẩm mới</div>
        <div class='row'>
            {{#each products}}
                {{#if property.amount}}
                {{#if property.new}}
                    <div class='col-md-3 col-sm-4 mb-4'>
                        <div class="card h-100 border-0">
                            <a href='products/{{slug}}' class='product-box'>
                                <div class='product-img-box'>
                                    <img src='{{images.[0]}}' alt={{name}} class='w-100' />
                                </div>
                                <div class='product-content-box rounded-bottom card-body'>
                                    <div class='product-title h-50'>
                                        <a href='products/{{slug}}'>{{name}}</a>
                                    </div>
                                    <div class='product-price'>
                                        {{#if price.sale}}
                                        <p class="origin__price line-through">Giá: {{formatCurrency price.origin}}</p>
                                        <p class="sale__price">Giá khuyến mãi: {{formatCurrency price.sale}}</p>
                                        {{else}}
                                        <p class="origin__price">Giá: {{formatCurrency price.origin}}</p>
                                        {{/if}}
                                    </div>
                                    <a href='products/{{slug}}' class='product__btn' >
                                        <button type='button' class='btn btn-lg my-2'>
                                            Mua ngay
                                        </button>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/if}}
                {{/if}}
            {{/each}}
        </div>
    </div>

    <div class='container'>
        <div class='menu-title mb-5'>Sản phẩm nổi bật</div>
        <div class='row'>
            {{#each products}}
                {{#if property.feature}}
                    <div class='col-md-3 col-sm-4 mb-4'>
                        <div class="card h-100 border-0">
                            <a href='products/{{slug}}' class='product-box'>
                                <div class='product-img-box'>
                                    <img src='{{images.[0]}}' alt={{name}} class='w-100' />
                                </div>
                                <div class='product-content-box rounded-bottom card-body'>
                                    <div class='product-title h-50'>
                                        <a href='products/{{slug}}'>{{name}}</a>
                                    </div>
                                    <div class='product-price'>
                                        {{#if price.sale}}
                                        <p class="origin__price line-through">Giá: {{formatCurrency price.origin}}</p>
                                        <p class="sale__price">Giá khuyến mãi: {{formatCurrency price.sale}}</p>
                                        {{else}}
                                        <p class="origin__price">Giá: {{formatCurrency price.origin}}</p>
                                        {{/if}}
                                    </div>
                                    <a href='products/{{slug}}' class='product__btn' >
                                        <button type='button' class='btn btn-lg my-2'>
                                            Mua ngay
                                        </button>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>

    <div class='container'>
        <div class='menu-title mb-5 mt-5'>
            Pallet nhựa
        </div>

        <div class='row'>
            {{#each products}}
                {{#equal category.name "Pallet Nhựa cũ"}}
                    <div class='col-md-3 col-sm-4 mb-4'>
                        <div class="card h-100 border-0">
                            <a href='products/{{slug}}' class='product-box'>
                                <div class='product-img-box'>
                                    <img src='{{images.[0]}}' alt={{name}} class='w-100' />
                                </div>
                                <div class='product-content-box rounded-bottom card-body'>
                                    <div class='product-title h-50'>
                                        <a href='products/{{slug}}'>{{name}}</a>
                                    </div>
                                    <div class='product-price'>
                                        {{#if price.sale}}
                                        <p class="origin__price line-through">Giá: {{formatCurrency price.origin}}</p>
                                        <p class="sale__price">Giá khuyến mãi: {{formatCurrency price.sale}}</p>
                                        {{else}}
                                        <p class="origin__price">Giá: {{formatCurrency price.origin}}</p>
                                        <p class="sale__price" style="opacity: 0;">Giá khuyến mãi: None</p>
                                        {{/if}}
                                    </div>
                                    <a href='products/{{slug}}' class='product__btn' >
                                        <button type='button' class='btn btn-lg my-2'>
                                            Mua ngay
                                        </button>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/equal}}
                {{#equal category.name "Pallet Nhựa mới"}}
                    <div class='col-md-3 col-sm-4 mb-4'>
                        <div class="card h-100 border-0">
                            <a href='products/{{slug}}' class='product-box'>
                                <div class='product-img-box'>
                                    <img src='{{images.[0]}}' alt={{name}} class='w-100' />
                                </div>
                                <div class='product-content-box rounded-bottom card-body'>
                                    <div class='product-title h-50'>
                                        <a href='products/{{slug}}'>{{name}}</a>
                                    </div>
                                    <div class='product-price'>
                                        {{#if price.sale}}
                                        <p class="origin__price line-through">Giá: {{formatCurrency price.origin}}</p>
                                        <p class="sale__price">Giá khuyến mãi: {{formatCurrency price.sale}}</p>
                                        {{else}}
                                        <p class="origin__price">Giá: {{formatCurrency price.origin}}</p>
                                        <p class="sale__price" style="opacity: 0;">Giá khuyến mãi: None</p>
                                        {{/if}}
                                    </div>
                                    <a href='products/{{slug}}' class='product__btn' >
                                        <button type='button' class='btn btn-lg my-2'>
                                            Mua ngay
                                        </button>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/equal}}
            {{/each}}
        </div>
    </div>

    <div class='container'>
        <div class='menu-title mb-5 mt-5'>
            Sóng nhựa
        </div>

        <div class='row'>
            {{#each products}}
                {{#equal category.name "Sóng nhựa"}}
                    <div class='col-md-3 col-sm-4 mb-4'>
                        <div class="card h-100 border-0">
                            <a href='products/{{slug}}' class='product-box'>
                                <div class='product-img-box'>
                                    <img src='{{images.[0]}}' alt={{name}} class='w-100' />
                                </div>
                                <div class='product-content-box rounded-bottom card-body'>
                                    <div class='product-title'h-50>
                                        <a href='products/{{slug}}'>{{name}}</a>
                                    </div>
                                    <div class='product-price'>
                                        {{#if price.sale}}
                                        <p class="origin__price line-through">Giá: {{formatCurrency price.origin}}</p>
                                        <p class="sale__price">Giá khuyến mãi: {{formatCurrency price.sale}}</p>
                                        {{else}}
                                        <p class="origin__price">Giá: {{formatCurrency price.origin}}</p>
                                        <p class="sale__price" style="opacity: 0;">Giá khuyến mãi: None</p>
                                        {{/if}}
                                    </div>
                                    <a href='products/{{slug}}' class='product__btn' >
                                        <button type='button' class='btn btn-lg my-2'>
                                            Mua ngay
                                        </button>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/equal}}
            {{/each}}
        </div>
    </div>

    <div class='container'>
        <div class='menu-title mb-5 mt-5'>
            QUY TRÌNH BÁN HÀNG
        </div>
        <div class='steps__image'>
            <img src='/img/steps.png' alt='step' />
            <img src='/img/steps.png' alt='step' />
            <img src='/img/steps.png' alt='step' />
            <img src='/img/steps.png' alt='step' />
            <img src='/img/steps.png' alt='step' />
            <img src='/img/steps.png' alt='step' />
        </div>
    </div>

    <div
        class='mt-5'
        style='background-image: url(https://palletnhuanhapkhau.com/img_data/images/br-khachhang341149918659.jpg);'
    >
        <div class='mb-5 mt-5' style='color: #ffff; padding-top: 30px; text-align: center; font-size: 2rem;'>
            Ý KIẾN KHÁCH HÀNG
        </div>
        <div class='feedback__container'>
            <article class='feedback__article'>
                <div class='feedback__image'>
                    <img src='https://palletnhuanhapkhau.com/img_data/images/AT801829723560.jpg' alt='customer' />
                </div>
                <div class='feedback__icon'>
                    <div class='feedback__icon__quote'>
                        <i class='fa-solid fa-quote-left'></i>
                    </div>
                    <div class='feedback__icon__start'>
                        <i class='fa-solid fa-star'></i>
                        <i class='fa-solid fa-star'></i>
                        <i class='fa-solid fa-star'></i>
                        <i class='fa-solid fa-star'></i>
                        <i class='fa-solid fa-star'></i>
                    </div>
                </div>
                <div class='feedback__text'>
                    <div class='feedback__text__review'>
                        <p>Công Ty uy tín , tu vấn nhiệt tình , hỗ trợ nhanh chóng </p>
                    </div>
                    <div class='feedback__text__name'>
                        <p>--Ms.Liên--</p>
                    </div>
                </div>
            </article>
            <article class='feedback__article'>
                <div class='feedback__image'>
                    <img
                        src='https://palletnhuanhapkhau.com/img_data/images/tds2_nlij246919308556.png'
                        alt='customer'
                    />
                </div>
                <div class='feedback__icon'>
                    <div class='feedback__icon__quote'>
                        <i class='fa-solid fa-quote-left'></i>
                    </div>
                    <div class='feedback__icon__start'>
                        <i class='fa-solid fa-star'></i>
                        <i class='fa-solid fa-star'></i>
                        <i class='fa-solid fa-star'></i>
                        <i class='fa-solid fa-star'></i>
                        <i class='fa-solid fa-star'></i>
                    </div>
                </div>
                <div class='feedback__text'>
                    <div class='feedback__text__review'>
                        <p>Pallet Nhựa cũ giá tốt , chất lượng , đa dạng màu sắc và mẫu mã</p>
                    </div>
                    <div class='feedback__text__name'>
                        <p>--Mr.Hùng --</p>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class='container mySwiper' style='width: 70%;'>
        <div class='menu-title mb-5 mt-5'>ĐỐI TÁC CỦA CHÚNG TÔI</div>
        <div class='container partner__container swiper-wrapper'>
            <div class='partner__logo swiper-slide'>
                <img
                    src='https://hhfurniture.com.vn/wp-content/uploads/2022/04/354728d2d7b216ec4fa3-300x300.jpg'
                    alt='logo'
                />
            </div>
            <div class='partner__logo swiper-slide'>
                <img
                    src='https://hhfurniture.com.vn/wp-content/uploads/2022/04/40b42a2dd54d14134d5c-300x300.jpg'
                    alt='logo'
                />
            </div>
            <div class='partner__logo swiper-slide'>
                <img
                    src='https://hhfurniture.com.vn/wp-content/uploads/2022/04/7a57bfce40ae81f0d8bf-300x300.jpg'
                    alt='logo'
                />
            </div>
            <div class='partner__logo swiper-slide'>
                <img
                    src='https://hhfurniture.com.vn/wp-content/uploads/2022/04/31544eccb1ac70f229bd-300x300.jpg'
                    alt='logo'
                />
            </div>
            <div class='partner__logo swiper-slide'>
                <img
                    src='https://hhfurniture.com.vn/wp-content/uploads/2022/04/ad4e55d6aab66be832a7-300x300.jpg'
                    alt='logo'
                />
            </div>
            <div class='partner__logo swiper-slide'>
                <img src='https://hhfurniture.com.vn/wp-content/uploads/2022/04/86711debe28b23d57a9a.jpg' alt='logo' />
            </div>
            <div class='partner__logo swiper-slide'>
                <img
                    src='https://hhfurniture.com.vn/wp-content/uploads/2022/04/236583f37c93bdcde482-286x300.jpg'
                    alt='logo'
                />
            </div>
            <div class='partner__logo swiper-slide'>
                <img
                    src='https://hhfurniture.com.vn/wp-content/uploads/2022/04/95acff380058c1069849-300x300.jpg'
                    alt='logo'
                />
            </div>
        </div>
    </div>

    <div class='container'>
        <div class='menu-title mb-5 mt-5'>LIÊN HỆ NGAY HÔM NAY</div>
        <div class='contact__now__content'>
            <div class='contact__now__information'>
                <span class='fs-3'>
                    <i class='fa-solid fa-square-phone fs-1 me-md-3'></i>
                    <strong class='fs-lg-5 me-1'>0971 632 793</strong>
                    /
                    <strong class='fs-lg-5 ms-1'>0901 770 979</strong>
                </span>
                <span>
                    <i class='fa-solid fa-square-envelope fs-1 me-md-3'></i>
                    <div>
                        <a href='mailto:palletthanhduong.vn@gmail.com'>palletthanhduong.vn@gmail.com</a>
                    </div>
                </span>
                <span>
                    <i class='fa-solid fa-earth-africa fs-1 me-md-3'></i>
                    <div>
                        <a href='https://palletthanhduong.vn'>https://palletthanhduong.vn</a>
                        <a href='https://palletthanhduong.com'>https://palletthanhduong.com</a>
                    </div>
                </span>
                <span>
                    <i class='fa-solid fa-location-dot fs-1 me-md-3'></i>
                    21/8/9 Võ Thị Thừa, Khu phố 3, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí Minh, Việt Nam
                </span>
            </div>
            <div class='contact__now__map'>
                <iframe
                    src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.337572681636!2d106.70265801458987!3d10.86190869226359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752816da9cb0ef%3A0x1f4750ec350d3004!2zMjEgVsO1IFRo4buLIFRo4burYSwgQW4gUGjDuiDEkMO0bmcsIFF14bqtbiAxMiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1661957592485!5m2!1svi!2s'
                    width='700'
                    height='450'
                    style='border:0;'
                    allowfullscreen=''
                    loading='lazy'
                    referrerpolicy='no-referrer-when-downgrade'
                ></iframe>
            </div>
        </div>
    </div>

    <div class='container'>
        <div style='color: #996e11;' class='menu-title mb-5 mt-5'>
            Tin tức & sự kiện
        </div>
        <div class='row'>
            <div class='owl-carousel cs-3 owl-theme mt-3'>
                {{#each news}}
                    <div class='news-box'>
                        <a href='/news/{{slug}}'>
                            <img src='{{image}}' alt='news' />
                        </a>
                        <a href='/news/{{slug}}'>{{title}}</a>
                        <div class='is-divider'></div>
                        <p>{{description}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class='swiper-dot' style='display:flex; justify-content: center;'>
            <span class='dot' style='margin-right: 2rem; border-radius: 999px; padding:10px 10px;'></span>
            <span class='dot' style='margin-right: 2rem;border-radius: 999px; padding:10px 10px;'></span>
            <span class='dot' style='margin-right: 2rem;border-radius: 999px; padding:10px 10px;'></span>
        </div>
    </div>
    <div class='modal__login'>
        <div class='modal__overplay'></div>
        <div class='modal__body'>
            <div class='modal__form'>
                <div class='modal__login__header__icon'>
                    <div class='modal__header__icon__login'>
                        <img src='/img/user.png' alt='user' />
                    </div>
                    <div class='modal__login__header__icon__close'>
                        <i class='uil uil-times'></i>
                    </div>
                </div>
                <div class='modal__footer__login'>
                    <div class='modal__footer__login__text'>
                        <h3>ĐĂNG NHẬP TÀI KHOẢN</h3>
                    </div>
                    <div class='modal__footer__login__input'>
                        <input type='text' placeholder='Tài khoản' name='user' />
                        <input type='password' placeholder='Mật khẩu' name='password' />
                        <button type='submit'>Đăng Nhập </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js'></script>
<script>
    var swiper = new Swiper(".mySwiper", { 
            slidesPerView: 1, 
            spaceBetween: 20, 
            pagination: { el: ".swiper-pagination",clickable: true },
            breakpoints: {
                600: {
                    slidesPerView: 6,
                    autoplay: {delay: 2000},
                }
            }
        }
    );
</script>