<div class='container sale__container'>
    <div class='menu-title sale__title'>Khuyến mãi</div>
    <div class='sale__banner'>
        <div class='sale__banner__image'>
            <img src='/img/sale.jpg' alt='sale banner' />
        </div>
        <div class='sale__banner__text'>
            <h3>Khuyến mãi</h3>
            <p>Chương trình áp dụng cho tất cả khách hàng mua sắm online và trực tiếp tại cửa hàng.</p>
            <p>Nếu bạn đang tìm cho ngôi nhà của mình đồ nội thất chất lượng và cao cấp với giá cả hấp dẫn chưa từng có
                thì đừng chần chờ nữa.
            </p>
            <h3>CHỐT DEAL NGAY!</h3>
            <div class='sale__banner__text__button'>
                <button type='button' class='btn btn-outline-dark'>Click here</button>
            </div>
        </div>
    </div>
    <div class='sale__product__container'>
        <div class='menu-title sale__product__container__title'>
            Pallet
        </div>
        <div class='sale__product__content'>
            {{#each products}}
                <div class='sale__product__box rounded'>
                    <div class='sale__product__box__image'>
                        <a href='sales/{{slug}}'>
                            <img src='{{images.[0]}}' alt='product' class='rounded-top' />
                        </a>
                    </div>
                    <div class='sale__product__box__text'>
                        <div class='sale__product__box__text__title'>
                            <p>{{name}}</p>
                        </div>
                        <div class='sale__product__box__text__price'>
                            <div class='sale__product__box__text__old__price'>
                                <i>Giá: {{formatCurrency price.origin}}</i>
                            </div>
                            <div class='sale__product__box__text__new__price'>
                                <i>Giá khuyến mãi: {{formatCurrency price.sale}}</i>
                            </div>
                        </div>
                    </div>
                    <div class='sale__product__box__button my-3'>
                        <a href='sales/slug'>
                            <button type='button' class='btn btn-outline-warning'>Mua ngay</button>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>